@import './variables.scss';

.countries {
    width: 80%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;

    @media (max-width: $MediumWidthResolution) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: $SmallWidthResolution) {
        grid-template-columns: 1fr 1fr ;
    }

    @media (max-width: $MobileWidthResolution) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}