@import './variables.scss';

.country {
    max-width: 350px;
    max-height: 350px;
    background-color: white;
    border-radius: 16px;

    @media (max-width: $MobileWidthResolution) {
        min-width: 300px;
    }

    img, .country__info {
        height: 50%;
        width: 100%;
    }
    
    img {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .country__info {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        font-family: 'Nunito Sans';

        .country__data {
            font-weight: 600;
            font-family: 'Nunito Sans';
            margin-bottom: 5px;
        }
    }

    .name {
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 800;
        font-family: 'Nunito Sans';

        &:visited {
            color: black;
        }
    }
    
    span {
        font-weight: 300;
        font-family: 'Nunito Sans';
    }
}