@import './variables.scss';

.dateLine {
    width: 100%;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    margin-left: 20px;
    font-family: 'Nunito Sans';

    b {
        font-size: 20px;
        font-weight: bold;
    }

    span {
        margin-left: 10px;
        margin-bottom: 3px;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
    }
}