@import './variables.scss';

.detailView {
    height: 90%;
    padding: 100px;
    display: flex;
    flex-direction: column;

    @media (max-width: $DetailSamllWidthResolution) {
        padding: 20px;
    }

    .leftArrow{
        width: 100px;
        margin-bottom: 100px;
        padding: 5px;
        padding-left: 8px;
        text-decoration: none;
        border: 2px solid grey;
        font-family: 'Nunito Sans';
        font-weight: bold;
        -webkit-box-shadow: -3px -3px 3px -2px grey;
        -moz-box-shadow: -3px -3px 3px -2px grey;
        box-shadow: -3px -3px 3px -2px grey;

        @media (max-width: $DetailSamllWidthResolution) {
            margin-bottom: 30px;
            margin-left: 50px;
        }

        &:visited {
            color: black;
        }
    }
}